@charset "UTF-8";

/* ----------------------------------------------------------------------------------------------------
 *  1.基本情報
 * --------------------------------------------------------------------------------------------------*/
body {
	background: #fbf0e0;
	color: #000000;
	font-size: 14px;
	line-height: 150%;
	font-family: 'ヒラギノ角ゴシック', 'HiraginoSans', 'ヒラギノ角ゴ ProNW3', 'HiraginoKakuGothicProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MSPGothic', sans-serif;
}
a {
	color: #757575;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	opacity: 0.7;
	transition: 0.3s;
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
ul  li {
	list-style: none;
}
.pc {
	display: block;
}
.sp {
	display: none;
}
#wrapper {
	width: 100%;
	height: 100%;
	min-height: 100%;
	height: auto !important;
}
html,body{
	height: 100%;
}
a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}
.content {
  width: 960px;
  margin: 0 auto;
}
.cmn_sec {
  width: 760px;
  margin: 0 auto;
}
.bg-white {
  background: #fff;
}
/* --------------------------------------------------------------------------------------------------
*  header
* --------------------------------------------------------------------------------------------------*/
.header  {
  width: 100%;
  min-width: 960px;
  position: relative;
}
.about_bnr,.access_bnr,.attention_bnr,.contact_bnr,.dog_run_bnr,.news_bnr,.price_bnr,.privacy_bnr {
  width: 100%;
}
.about_bnr {
  background: url(../../img/about/about_bnr.jpg) no-repeat center;
  background-size: 100% 100%;
}
.access_bnr {
  background: url(../../img/access/access_bnr.jpg) no-repeat center;
  background-size: 100% 100%;
}
.attention_bnr {
  background: url(../../img/attention/attention_bnr.jpg) no-repeat center;
  background-size: 100% 100%;
}
.contact_bnr {
  background: url(../../img/contact/contact_bnr.jpg) no-repeat center;
  background-size: 100% 100%;
}
.dog_run_bnr {
  background: url(../../img/dog_run/dogrun_bnr.jpg) no-repeat center;
  background-size: 100% 100%;
}
.news_bnr {
  background: url(../../img/news/news_bnr.jpg) no-repeat center;
  background-size: 100% 100%;
}
.price_bnr {
  background: url(../../img/price/price_bnr.jpg) no-repeat center;
  background-size: 100% 100%;
}
.privacy_bnr {
  background: url(../../img/privacypolicy/privacy_bnr.jpg) no-repeat center;
  background-size: 100% 100%;
}
.bnr_txt img {
  padding: 46px 0 50px 0;
}

.top_bnr {
  width: 100%;
  min-width: 980px;
}
.top_bnr img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.h_text {
  font-size: 13px;
  color: #fff;
  text-align: right;
  position: absolute;
  top: 2%;
  right: 5%;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav_sty02 {
  width: 100%;
  padding: 25px 0 20px;
  background: #fff;
  margin-bottom: 50px;
}
.nav_sty02 .inner {
  width: 960px;
  margin: 0 auto;
}
.pg_tit {
  width: 213px;
  float: left;
}
/* -------------------------------------------------------------------------------------------------
 *  nav for index
 * -------------------------------------------------------------------------------------------------*/
.nav {
  width: 100%;
  min-width: 960px;
  background: url(../../common/img/header/nav_bg.png)repeat;
}
.gnav {
  width: 960px;
  margin: 0 auto;
}
.gnav li {
  float: left;
}
.gnav li a {
  display: block;
  text-indent: -9999px;
}
.gnav li .gnav01 {
  width: 113px;
  height: 54px;
  background: url(../../common/img/header/gnav01.png) no-repeat;
}
.gnav li .gnav02 {
  width: 150px;
  height: 54px;
  background: url(../../common/img/header/gnav02.png) no-repeat;
}
.gnav li .gnav03 {
  width: 141px;
  height: 54px;
  background: url(../../common/img/header/gnav03.png) no-repeat;
}
.gnav li .gnav04 {
  width: 118px;
  height: 54px;
  background: url(../../common/img/header/gnav04.png) no-repeat;
}
.gnav li .gnav05 {
  width: 129px;
  height: 54px;
  background: url(../../common/img/header/gnav05.png) no-repeat;
}
.gnav li .gnav06 {
  width: 144px;
  height: 54px;
  background: url(../../common/img/header/gnav06.png) no-repeat;
}
.gnav li .gnav07 {
  width: 165px;
  height: 54px;
  background: url(../../common/img/header/gnav07.png) no-repeat;
}
.gnav li:last-child {
  float: right;
  padding-right: 0;
}
/* -------------------------------------------------------------------------------------------------
 *  nav for other page
 * --------------------------------------------------------------------------------------------------*/

.nav_sty02 .inner ul {
  float: left;
  margin-top: 9px;
}
.nav_sty02 .inner ul li {
  float: left;
}
.nav_sty02 .inner ul li a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}
.nav_sty02 .inner ul li:first-child a {
  width: 78px;
  height: 30px;
  background: url(../../common/img/com_img/gnav01_1.jpg);
  overflow: hidden;
}
.nav_sty02 .inner ul li:nth-child(2) a {
  width: 122px;
  height: 30px;
  background: url(../../common/img/com_img/gnav01_2.jpg);
  overflow: hidden;
}
.nav_sty02 .inner ul li:nth-child(3) a {
  width: 116px;
  height: 30px;
  background: url(../../common/img/com_img/gnav01_3.jpg);
  overflow: hidden;
}
.nav_sty02 .inner ul li:nth-child(4) a {
  width: 98px;
  height: 30px;
  background: url(../../common/img/com_img/gnav01_4.jpg);
  overflow: hidden;
}
.nav_sty02 .inner ul li:nth-child(5) a {
  width: 106px;
  height: 30px;
  background: url(../../common/img/com_img/gnav01_5.jpg);
  overflow: hidden;
}
.nav_sty02 .inner ul li a {
  width: 118px;
  height: 30px;
  background: url(../../common/img/com_img/gnav01_6.jpg);
  overflow: hidden;
}
.nav_sty02 .inner ul li:last-child a {
  width: 109px;
  height: 30px;
  background: url(../../common/img/com_img/gnav01_7.jpg);
  overflow: hidden;
}
.nav_sty02 .inner ul li.attention_nav a {
  width: 122px;
  height: 30px;
  background: url(../../common/img/com_img/active_attention.jpg);
  overflow: hidden;
}
.nav_sty02 .inner ul li.dog_run_nav a {
  width: 116px;
  height: 30px;
  background: url(../../common/img/com_img/active_dogrun.jpg);
  overflow: hidden;
}
.nav_sty02 .inner ul li.price_nav a {
  width: 98px;
  height: 30px;
  background: url(../../common/img/com_img/active_price.jpg);
  overflow: hidden;
}
.nav_sty02 .inner ul li.access_nav a {
  width: 106px;
  height: 30px;
  background: url(../../common/img/com_img/active_access.jpg);
  overflow: hidden;
}
.nav_sty02 .inner ul li.about_nav a {
  width: 118px;
  height: 30px;
  background: url(../../common/img/com_img/active_about.jpg);
  overflow: hidden;
}
.nav_sty02 .inner ul li.contact_nav a {
  width: 109px;
  height: 30px;
  background: url(../../common/img/com_img/active_contact.jpg) no-repeat;
  overflow: hidden;
}

/* ----------------------------------------------------------------------------------------------------
 *  index
 * --------------------------------------------------------------------------------------------------*/
.top_content {
  width: 960px;
  margin: 0 auto;
  padding: 47px 0 0 0;
}
.top_sec01{
  padding: 20px;
}
.top_left {
  width: 795px;
  float: left;
}
.left01{
  float: left;
}
.right01{
  width: 600px;
  float: right;
}
.top_txt01{
  font-size: 14px;
  color: #333333;
  text-align: center;
  padding-bottom: 30px;
}
.top_right{
  float: right;
}
.img01{
  padding-top: 15px;
}
.img02{
  padding-top: 15px;
}
.top_btn01{
  text-align: center;
}
.top_sec02{
  width: 930px;
  margin:40px auto 0;
  border-top: 1px solid #0e182e;
}
.sec02In {
  padding: 30px 0;
  border-bottom: 1px solid #0e182e;
}
.sec02In:last-child {
  border-bottom: none;
}
.sec02In a {
  display: block;
}
.sec02Pad .sec02_left,.sec02Pad .sec02_right {
  padding-bottom: 30px;
}
.sec02_left,.sec02_right {
  position: relative;
}
.sec02_left {
  width: 450px;
  float: left;
  box-sizing: border-box;
  padding: 0 13px;
}
.sec02_right {
  width: 450px;
  float: right;
  padding: 0 13px;
  border-left: 1px solid #0e182e;
}
.sec02In .top_btn01 {
  position: absolute;
  bottom: -10px;
  left: 16%;
}
.sec02In .tit01 {
  padding-bottom: 10px;
}
.top_new {
  width: 387px;
  height: 130px;
  overflow-y: scroll;
  padding-left: 10px;
}
.top_new li {
  padding: 5px 0;
  border-bottom: 1px dotted #a1a1a1;
}
.top_new li a {
  color: #69563a;
}
.list_date {
  font-size: 14px;
  color: #333333;
  float: left;
  padding-right: 17px;
}
.list_txt {
  font-size: 14px;
  color: #333333;
  float: left;
  display: block;
}
.sec02_l {
  width: 245px;
  float: left;
}
.sec02_l p {
  font-size: 14px;
}
.sec02_r{
  float: right;
}
.title{
  text-align: center;
}
/* --------------------------------------------------------------------------------------------------
*  about
* --------------------------------------------------------------------------------------------------*/
.about_sec01{
  margin-bottom: 74px;
  padding-top: 48px;
  background: url(../../img/about/about_bg.png) no-repeat left;
  background-size: auto auto;
}
.about_secin01{
  width: 490px;
  float: right;
  padding: 0 14px 0 0;
  color: #4d400d;
}
.about_txt01{
  font-size: 14px;
  line-height: 2;
}
.about_txt02{
  font-size: 14px;
  padding: 60px 0 35px 0;
  line-height: 2;
}
.about_txt03{
  font-size: 14px;
  text-align: right;
}
.about_sec02{
  width: 100%;
  background: #fff;
  padding: 57px 0 78px 0;
}
.about_tit{
  text-align: center;
}
.about_sec02in{
  padding: 68px 0 16px 0;
}
.about_l,
.about_l01 {
  width: 360px;
  float: left;
}

.about_l {
  padding-top: 60px;
}

.img_r{
  text-align: right;
}
.about_r{
  width: 477px;
  float: right;
}
.about_tb{
  width: 477px;
}

.about_tb tr th {
  width: 81px;
  border-bottom: 2px solid #009944;
  font-size: 14px;
  text-align: left;
  padding: 20px 0;
}
.about_tb tr td {
  width: 396px;
  border-bottom: 2px dashed #6d6e63;
  font-size: 14px;
  padding: 0 20px 0 21px;
}

.about_tb tr:nth-child(3) th,
.about_tb tr:nth-child(4) th {
  vertical-align: middle;
}

.about_tb tr:nth-child(3) td,
.about_tb tr:nth-child(4) td {
  padding: 20px 20px 20px 21px;
  line-height: 1.7;
}
/* -------------------------------------------------------------------------------------------------
 * attention
 * ------------------------------------------------------------------------------------------------*/

.attention .sec01 {
  padding-top: 50px;
}
.attention .sec_tit {
  padding-bottom: 20px;
  margin: 0 auto 35px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #0d1527;
  background: url("../../img/attention/acc_undline.png") no-repeat center bottom;
  line-height: 1.7;
}
.attention .sec_dec {
  width: 760px;
  margin: 0 auto 50px;
}
.sec_dec  a {
  color: #bf9a0b;
  line-height: 20px;
  border-bottom: 1px solid #bf9a0b;
}
.attention .sec_dec  a img, .attention .sec03 .inner_sec a img {
  display: inline;
  width: 15px;
  margin-left: 5px;
}

.attention .sec02 {
  width: 100%;
}
.attention .sec02  .sec_dtl {
  margin-bottom: 60px;
}
.attention .sec02  .sec_dtl li {
  background: url(../../img/attention/acc_lst_sty.png) no-repeat left top;
    padding: 0 0 25px 50px;
    list-style: none;
    font-size: 14px;
}
.attention .sec03 {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;  
}
.attention .inner_sec {
  width: 215px;
  margin-bottom: 50px;
}
.attention .inner_sec img.inner_img {
  display: block;
  margin: 0 auto 25px;
}
.attention .sec03 .inner_sec a {
  color: #bf9a0b;
  border-bottom: 1px solid #bf9a0b;
}
.attention .sec03 .inner_sec a img {
  margin-left: 5px;
}

.att_bnr {
  width: 100%;
  margin: 0 auto 30px;
}
.att_bnr img {
  width: 100%;
}
.attention .sec04 .time {
  width: 500px;
  margin: 0 auto;
}
.attention .sec04 .time ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 55px;
}
.attention .sec04 .time ul li {
  position: relative;
  color: #000;
  font-size: 16px;
}
.attention .sec04 .time ul li:before {
  content: "";
  position: absolute;
  left: -15px;
  top: 3px;
  width: 5px;
  height: 15px;
  background: #bf9a0b;
}
.attention .sec05 {
  text-align: center;
  color: #000;
  font-size: 16px;
  margin-bottom: 40px;
}
.attention .calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.attention .calendar iframe {
  width: 95%;
  height: 544px;
}
/*----------------------------------------------------------------------------------------------------
*Access Page
----------------------------------------------------------------------------------------------------*/
.access_sec {
  padding: 100px 0 13px;
}
.access_left {
  width: 536px;
}
.access_left dl dt {
  font-weight: bold;
  font-size: 22px;
}
.access_left dl dd,.access_right span {
  font-size: 16px;
}
.access_right {
  width: 400px;
}
.access_right img {
  max-width: 100%;
}
.access_right span {
  display: block;
  text-align: right;
}
/* -------------------------------------------------------------------------------------------------
*  contact
* ------------------------------------------------------------------------------------------------*/
.inquiry {
  padding-top: 70px;
  text-align: center;
}

.inquiry h2 {
  font-size: 24px;
  padding-bottom: 40px;
}
.inquiry .contact-phone {
  padding-bottom: 25px;
  display: block;
}
.inquiry p {
  font-size: 14px;
  font-weight: bold;
}

.inquiry span {
  font-size: 14px;
  color: #b44029;
}

.inquiry h4 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 40px;
}
.inquiry p span {
  color: #c0a129;
  padding-bottom: 80px;
}
form {
  font-size: 18px;
}

form ul li {
  margin-bottom: 40px;
  height: 30px;
  display: table;
  width: 100%;
}
form ul li span  {
  display: table-cell;
  vertical-align: middle;
}
form label {
  width: 270px;
  display: table-cell;
  vertical-align: middle;
}

form li .box:after {
  content: "";
  width: 14px;
  height: 13px;
  background: url(../../img/contact/contact_btn01.png) no-repeat;
  float: right;
  display: table-cell;
  vertical-align: middle;
}

form input,
form select,
form textarea {
  width: 478px;
  padding: 15px 0;
  background: #f6e4c9;
  border: none;
  float: right;
}

form .cus select {
  -webkit-appearance: none;
  width: 479px;
  height: 44px;
  padding: 10px;
  background: url(../../img/contact/contact_btn02.png) no-repeat right center;
  background-color: #fff;
}

form ul li:last-child label {
  vertical-align: middle;
  margin-bottom: 80px;
}

select::-ms-expand {
  display: none;
}

.button {
  width: 240px;
  margin: 0 auto 30px auto;
}


.button  a input {
  padding: 10px 30px;
  border: 1px solid #bf9a0b;
  color: #bf9a0b;
  background: #fbf0e0;
  border-radius: 10px;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
}
/* -------------------------------------------------------------------------------------------------
* dog run
* ------------------------------------------------------------------------------------------------*/

.sec_01 {
  width: 100%;
}
.sec_01 .dog-photo {
  width: 503px;
  height: 343px;
  float: left;
}
.sec_01 .dog-text {
  width: 447px;
  height: 343px;
  float: left;
  position: relative;
}
.sec_01 .dog-text .dir_text {
  width: 371px;
  height: 97px;
  background:url(../../img/dog_run/img02.png) no-repeat;
  position: absolute;
  left: -25px;
  top: 30px;
  z-index: 1;
}
.sec_01 .dog-text .dir_text p {
  text-align: center;
  font-size: 24px;
  margin-top: 25px;
}
.sec_01 .dog-text .nml_text {
  width: 100%;
  position: absolute;
  top: 150px;
}
.sec_01 .dog-text .nml_text p {
  margin-left: 40px;
  font-size: 12px;
}
.sec_02 {
  width: 100%;
  margin-top: 52px;
}
.sec_02_inner {
  width: 570px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}
.sec_02 .sec_02_inner .point_text {
  width: 286px;
  height: 170px;
  background:url(../../img/dog_run/img03.png) no-repeat;
  position: absolute;
  top: 0;
  left: 140px;
  z-index: 1;
}
.sec_02 .sec_02_inner .point_text p {
  text-align: center;
  font-size: 24px;
  margin-top: 70px;
}
.sec_02 .sec_02_inner .dog-photo {
  width: 570px;
  position: absolute;
  top: 155px;
}
.sec_02 .sec_02_inner .dog-text {
  width: 100%;
  position: absolute;
  top: 550px;
}
.sec_02 .sec_02_inner .dog-text p {
  font-size: 12px;
  text-align: center;
}
.sec_03 {
  width: 100%;
  margin-top: 150px;
}
.sec_03 .dog-text {
  width: 395px;
  height: 358px;
  float: left;
  position: relative;
}
.sec_03 .dog-text .dir_text {
  width: 313px;
  height: 111px;
  background:url(../../img/dog_run/img06.png) no-repeat;
  position: absolute;
  top: 30px;
  right: -25px;
}
.sec_03 .dog-text .dir_text p {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
}
.sec_03 .dog-text .nml_text {
  width: 100%;
  position: absolute;
  top: 180px;
}
.sec_03 .dog-text .nml_text p {
  margin-left: 110px;
  font-size: 12px;
}
.sec_04 {
  width: 100%;
  margin-top: 58px;
  padding-bottom: 60px;
}
.sec_04 .sec_04_inner {
  width: 760px;
  height: 300px;
  margin:0 auto;
  background:url(../../img/dog_run/img07.png) no-repeat;
}
.sec_04 .sec_04_inner .atten {
  width: 313px;
  height: 231px;
  background:url(../../img/dog_run/img08.png) no-repeat;
  float: left;
  margin: 34px 0 0 34px;
}
.sec_04 .sec_04_inner h3 {
  font-size: 58px;
  text-align: center;
  margin-top:90px;
}
.sec_04 .sec_04_inner span {
  display: inline-block;
  font-size: 16px;
  color: #33644e;
  margin: 30px 0 0 40px;
}
.sec_04 .sec_04_inner .dog-run-price {
  width: 313px;
  height: 231px;
  background:url(../../img/dog_run/img08.png) no-repeat;
  float: right;
  margin: 34px 30px 0 0;
}
/* -------------------------------------------------------------------------------------------------
 * news & information
 * ------------------------------------------------------------------------------------------------*/

.art {
  margin-bottom: 50px;
}

.art h2,
.seasonal h2,
.play h2 {
  font-size: 20px;
  color: #3a300a;
  line-height: 1.5;
  padding-bottom: 30px;
}

.art h2:before,
.seasonal h2:before,
.play h2:before {
  content: url(../../img/news/news_btn01.png);
  padding-right: 7px;
}

.text {
  display: block;
  padding-left: 32px;
  font-size: 16px;
  font-weight: normal;
}

.art p,
.play p {
  font-size: 16px;
  line-height: 1.6;
}

.seasonal {
  margin-bottom: 50px;
}

.seasonal h2 {
  font-size: 25px;
  padding-bottom: 30px;
}

.season_sec ul li {
  float: left;
}

.season_sec ul li:first-child {
  width: 40%;
  padding-right: 5px;
}

.season_sec ul li:last-child {
  width: 59%;
  font-size: 16px;
  line-height: 1.8;
}

.play_img {
  padding-top: 30px;
  padding-bottom: 70px;
}

.play_img img {
  float: left;
}

.play_img img:first-child {
  padding-right: 20px;
}

.blog_no {
  width: 210px;
  padding: 40px 0 0 0;
  margin: 0 auto 60px auto;
}

.blog_no li {
  float: left;
  margin-right: 8px;
}
.blog_no .link {
  color: #003d22;
  text-align: center;
  padding: 3px 7px;
  border: 1px solid #B3B3B3;
  display: block;
  border-radius: 6px;
}

.blog_no li:first-child .link, 
.blog_no li:last-child .link {
  border: none;
  padding-top: 7px;
}

.blog_no li:nth-child(3) .link {
  background: #003d22;
  color: #fff;
}

.blog_no .link:hover {
  background: #eab16c;
  color: #fff;
}

/* -------------------------------------------------------------------------------------------------
 *  price
 * -------------------------------------------------------------------------------------------------*/
.register-fee h2 {
  text-align: center;
  margin-bottom: 20px;
}


.register-fee p.sub-title {
  text-align: center;
}

.register-fee p.sub-title img {
  max-width: 100%;
}

.register-fee ul li {
  margin-bottom: 15px;
}

.register-fee ul li span {
  font-size: 14px;
  color: #000;
}

.register-fee ul li .dog-type {
  width: 290px;
  float: left;
  position: relative;
}

.register-fee ul li .dotted {
  color: #D2C9BA;
}

.register-fee ul li .dog-price {
  width: 70px;  
  float: right;
  text-align: right;
}

.content>.price {
  padding: 0 0 60px;
}

.price-sec {
  padding: 60px 0;
}

.price-sec02 { 
  width: 628px;
  margin: 0 auto;
  padding: 40px 0 70px;
  background: #fbf0e0;
}

.price-sec03 {
  padding: 60px 0 100px;
}

.price-sec04 {
  padding: 20px 0 40px;
}

.register-fee01 {
  width: 360px;
  margin: 0 auto;
}

.register-fee02 {
  width: 420px;
  margin: 0 auto; 
}

.register-fee02 ul li .dog-type {
  width: 340px;
}

.register-fee02 ul li .dog-price {
  width: 80px;
}

.remark {
  text-align: right;
  color: #000;
}

.remark2 ul {  
  margin-bottom: 15px;
}

.remark2 ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
  position: relative;
  padding-left: 12px;
}

.remark2 ul li:before {
  content: "・";
  position: absolute;
  top: 0;
  left: 0;
}

.remark2 h3 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}
/*----------------------------------------------------------------------------------------------------
*Privacypolicy Page
----------------------------------------------------------------------------------------------------*/
.cmn_sec {
  width: 760px;
  margin: 0 auto;
}
.privacy h2 {
  font-size: 25px;
  text-align: center;
}
.privacy p {
  font-size: 16px;
}
.privacy dl dt {
  font-weight: bold;
}
.privacy dl dd {
  padding-left: 24px;
}
.privacy dl dd span {
  display: block;
}

/*--------------------------------------------------------------------------------------------------
*footer
----------------------------------------------------------------------------------------------------*/
.footer {
  padding-top: 40px;
}
.pro_policy {
  width: 937px;
  margin: 0 auto;
  border-top: 1px solid #0e182e;
  text-align: right;
}
.pro_policy a {
  padding: 7px 30px 0 0;
  display: block;
  color: #000;
}
.footer_inner {
  width: 430px;
  margin: 10px auto 60px;
}
.footer_inner ul {
  width: 90%;
  margin: 0 auto;
}
.footer_inner ul li:first-child {
  font-size: 18px;
}
.footer_inner ul li {
  line-height: 2;
}
.copy {
  width: 100%;
  height: 30px;
  background: url(../../common/img/footer/foot_bg.png);
  text-align: right;
}
.copy p {
  font-size: 12px;
}

.active_color {
  color: #ccae3c;
}

/*  */
html {
  margin-top: 0px !important;
}